body {
    background-color: #313338;
}

.headbar {
    height: 5vh;
    width: 100vw;
    background-color: black;
}

.navbar{
    background-color: rgb(157, 59, 59);
}

.console-container {
    justify-content: center;
    display: flex;
}
.console {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.left-channel,.right-channel,.center-channel{
    height:60vh;
}
.center-channel{
    width:20vw;
}

.left-channel,.right-channel{
    width: 40vw;
}
.btn-group{
    position: absolute;
}
.btn{
    background-color: rgb(74, 74, 74);
}
.table-wrapper {
    max-height: 33vh;
    width:100vw;
    overflow:auto;
    display:inline-block;
  }
#drop-zone{
    width: 100vw;
    height:32vh;
}