body {
    background-color: #313338;
}

.headbar {
    height: 5vh;
    width: 100vw;
    background-color: black;
}

.navbar{
    background-color: rgb(157, 59, 59);
}

.console-container {
    justify-content: center;
    display: flex;
}
.console {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.left-channel,.right-channel,.center-channel{
    height:60vh;
}
.center-channel{
    width:20vw;
}

.left-channel,.right-channel{
    width: 40vw;
}
.btn-group{
    position: absolute;
}
.btn{
    background-color: rgb(74, 74, 74);
}
.table-wrapper {
    max-height: 33vh;
    width:100vw;
    overflow:auto;
    display:inline-block;
  }
#drop-zone{
    width: 100vw;
    height:32vh;
}
#upload-left{
    padding-right:30px;
}
#upload-right{
    padding-right:30px;
}
#left-song-name-wrapper,#right-song-name-wrapper{
    position: absolute;
    color: white;
    -webkit-text-stroke: 0.2mm;
    font-size: 120%;
}

#audio-controls-left,#audio-controls-right{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
}


#seekbar-right, #seekbar-left {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 8px;
    background: rgb(171, 4, 5);
    border-radius: 5px;
    
    
}


#seekbar-left::-webkit-slider-thumb, #seekbar-right::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #ffffff; 
    border-radius: 50%; 
    cursor: pointer;
}

#audio-controls-right #seekbar-right{
    background: rgb(0,32,168);
}

.time-duration-container{
    padding-top: 10px;
}