body {
    overflow: hidden;
}

.knob-left,
.knob-right {
    background: linear-gradient(0deg, #525252 0%, #373737 100%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.knob-slider::before {
    background: linear-gradient(0deg, #525252 0%, #373737 100%);
    width: 30px;
    height: 30px;
    box-shadow: 0px -1px 10px #757575,
        0px 1px 35px #111111,
        inset 0px 3px 3px #979797,
        inset 0px -3px 3px #242424;
}

.knob-slider::before,
.knob-left,
.knob-right {
    width: 30px;
    height: 30px;
    position: absolute;

    transform: translate(-50%, -50%);
}

.knob-left::before,
.knob-left::after,
.knob-slider::before,
.knob-right::before,
.knob-right::after {
    content: '';
    border-radius: 50%;
    position: absolute;
}

.knob-left::before,
.knob-right::before {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 1px #ab0405;

}

.knob-slider {
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-top: 10%;
}

.knob-left::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ab0405;
    width: 130%;
    height: 130%;
    box-shadow: 0px 0px 5px #ab0405,
        inset 0px 0px 10px #ab0405;
}

.knob-right::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #0020a8;
    width: 130%;
    height: 130%;
    box-shadow: 0px 0px 5px #0020a8,
        inset 0px 0px 10px #0020a8;
}

#left-disc-container,
#right-disc-container {
    height: 40vh;
    width: 40vw;
}

#left-song-name-wrapper,
#right-song-name-wrapper {
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.2mm;
    font-size: 120%;
    margin-bottom: 3%;
}

#left-seekbar-container,
#right-seekbar-container {
    width: 15.6vw;
    height: 1vh;
    border-radius: 5px;
    margin: auto;
}

#seekbar-right,
#seekbar-left {
    -webkit-appearance: none;
    appearance: none;
    width: 15.6vw;
    height: 1vh;
    border-radius: 5px;
}

#seekbar-left {
    background: #ab0405;
}

#seekbar-right {
    background: #0020a8;
}

#seekbar-left::-webkit-slider-thumb,
#seekbar-right::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.time-duration-container {
    margin-top: 7%;
    color: white;
}

#audio-controls-left,
#audio-controls-right {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 15.6vw;
    height: 7vh;
}

.table-wrapper {
    max-height: 33vh;
    width: 100%;
    overflow: auto;
    display: inline-block;
}

#drop-zone {
    width: 100%;
    height: 32vh;
}

#upload-right,
#upload-left {
    padding-right: 30px;
}

.center-channel {
    width: 20vw;
}

.left-channel,
.right-channel {
    width: 40vw;
}

.btn-group {
    background-color: rgb(74, 74, 74);
    display: flex;
    width: 20vw;
    height: auto;
    margin: auto;
    margin-top: -2%;
}

body {
    background-color: #313338;
}

.navbar {
    background-color: #9d3b3b;
}

.console-container {
    justify-content: center;
    display: flex;
}

.console {
    width: auto;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.left-channel,
.right-channel,
.center-channel {
    height: 60vh;
    border: 3px solid #9d3b3b;
    width: auto;
}

#knobs-wrapper {
    width: 20vw;
    height: 20vh;
    display: flex;
}

#volume-controls {
    height: 25vh;
    width: 20vw;
    display: flex;
    flex-direction: row;
}

.slider-wrapper {
    height: 25vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#crossfader-wrapper {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 20vw;
    height: 15vh;
}

#crossfader-container {
    background: linear-gradient(90deg, #ab0405 50%, #0020a8 50%);
    margin-bottom: 10%;
}

#left-volume::-webkit-slider-thumb,
#right-volume::-webkit-slider-thumb,
#left-volume::-moz-range-thumb,
#right-volume::-moz-range-thumb {
    width: 14px;
    height: 45px;
    background-repeat: repeat;
    transform: translate(0, -7px);
}

#left-volume-container {
    background: #ab0405;
}

#right-volume-container {
    background: #0020a8;
}

#left-volume-container,
#right-volume-container {
    rotate: 90deg;
    width: 8vw;
    height: 1.5vh;

}

.slider-container {
    width: 16vw;
    height: 2vh;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 16vw;
    background: transparent;
    cursor: ew-resize;
}

#left-volume,
#right-volume {
    width: 8vw;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 70px;
    background: url('/assets/buttons/CrossfaderKnob.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    position: relative;
    transform: translate(0, -25px);
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 70px;
    background: url('/assets/buttons/CrossfaderKnob.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    position: relative;
    transform: translate(0, -25px);
}